
{% macro label(attribs) %}
	<label for="{{ attribs.for }}" class="{{ attribs.class }}">{{ attribs.value }}</label>
{% endmacro %}

{% macro textbox(attribs) %}
	<input autocomplete="off" class="{{ attribs.class }}" id="{{ attribs.id }}" name="{{ attribs.name }}" placeholder="{{ attribs.placeholder }}" type="{{ attribs.type|default('text') }}" value="{{ attribs.value }}"/>
{% endmacro %}

{% macro textarea(attribs) %}
	<textarea autocomplete="off" class="{{ attribs.class }}" data-autoresize id = "{{ attribs.id }}" name="{{ attribs.name }}" placeholder="{{ attribs.placeholder }}" rows="1">{{ attribs.value }}</textarea>
{% endmacro %}

{% macro submit(attribs) %}
	{% if attribs._method == 'PUT' %}
		<input type="hidden" name="id" value="{{ attribs._id }}"/>
		<input type="hidden" name="_METHOD" value="PUT"/>
	{% elseif attribs._method == 'DELETE' %}
		<input type="hidden" name="id" value="{{ attribs._id }}"/>
		<input type="hidden" name="_METHOD" value="DELETE"/>
	{% endif %}
	<input type="submit" class="{{ attribs.class }}" value="{{ attribs.value }}">
{% endmacro %}

{% macro hidden(attribs) %}
	<input type="hidden" name="{{ attribs.name }}" value="{{ attribs.value }}"/>
{% endmacro %}


{% macro link_button(attribs) %}
	<a href="{{ base_path }}/tsoha/{{ attribs.href }}" class="{{ attribs.class }}" draggable="false">{{ attribs.value }}</a>
{% endmacro %}

{% macro submit_button(attribs) %}
	<form id="submit" action="{{ base_path }}/tsoha/{{ attribs.href }}" method="post" style="float: left">
		<input type="hidden" form="submit" name="{{ attribs.name }}" value="{{ attribs.id }}"/>
		<input type="submit" class="{{ attribs.class }}" form="delete" value="{{ attribs.value }}"/>
	</form>
{% endmacro %}

{% macro delete_button(attribs) %}
	<form id="delete_{{ attribs.id }}" action="{{ base_path }}/tsoha/{{ attribs.href }}" method="post" style="float: left">
		<input type="hidden" form="delete_{{ attribs.id }}" name="{{ attribs.name }}" value="{{ attribs.id }}"/>
		<input type="hidden" form="delete_{{ attribs.id }}" name="_METHOD" value="DELETE"/>
		<input type="submit" class="{{ attribs.class }}" form="delete_{{ attribs.id }}" value="{{ attribs.value }}"/>
	</form>
{% endmacro %}

{% macro update_button(attribs) %}
	<form id="update_{{ attribs.id }}" action="{{ base_path }}/tsoha/{{ attribs.href }}" method="post" style="float: left">
		<input type="hidden" form="update_{{ attribs.id }}" name="{{ attribs.name }}" value="{{ attribs.id }}"/>
		<input type="hidden" form="update_{{ attribs.id }}" name="_METHOD" value="PUT"/>
		<input type="submit" class="{{ attribs.class }}" form="update_{{ attribs.id }}" value="{{ attribs.value }}"/>
	</form>
{% endmacro %}





{% macro error(attribs) %}
	{% if attribs.value != '' %}
		<div class="{{ attribs.class }}"><span class="glyphicon glyphicon-warning-sign"></span> {{ attribs.value }}</div>
	{% else %}
		<div class="{{ attribs.class }}"></div>
	{% endif %}
{% endmacro %}

{% macro textbox_with_label(attribs) %}
	{% import _self as forms %}
	{{ forms.label({ 'for': attribs.for, 'class': 'label-' ~ attribs.theme, 'value': attribs.label_text }) }}
	{{ forms.textbox({ 'class': 'textbox-' ~ attribs.theme, 'id': attribs.for, 'name': attribs.for, 'placeholder': '', 'type': attribs.type, 'value': attribs.value }) }}
{% endmacro %}

{% macro textbox_with_label_and_errors(attribs) %}
	{% import _self as forms %}
	{{ forms.label({ 'for': attribs.for, 'class': 'label-' ~ attribs.theme, 'value': attribs.label_text }) }}
	{{ forms.textbox({ 'class': 'textbox-' ~ attribs.theme, 'id': attribs.for, 'name': attribs.for, 'placeholder': attribs.placeholder, 'type': attribs.type, 'value': attribs.value }) }}
	{{ forms.error({ 'class': 'validation-' ~ attribs.theme, 'value': attribs.error_text }) }}
{% endmacro %}

{% macro textarea_with_label_and_errors(attribs) %}
	{% import _self as forms %}
	{{ forms.label({ 'for': attribs.for, 'class': 'label-' ~ attribs.theme, 'value': attribs.label_text }) }}
	{{ forms.textarea({ 'class': 'textarea-' ~ attribs.theme, 'id': attribs.for, 'name': attribs.for, 'placeholder': '', 'type': attribs.type, 'value': attribs.value }) }}
	{{ forms.error({ 'class': 'validation-' ~ attribs.theme, 'value': attribs.error_text }) }}
{% endmacro %}


{% macro message_box(message, message_type) %}
	{% if message is not empty %}
		{% if message_type is not empty %}
			{% if message_type == 'success' %}
				<div class="message green-text"><span class="glyphicon glyphicon-ok-sign"></span>{{ message }}</div>
			{% elseif message_type == 'warning' %}
				<div class="message orange-text"><span class="glyphicon glyphicon-warning-sign"></span>{{ message }}</div>
			{% else %}
				<div class="message red"><span class="glyphicon glyphicon-exclamation-sign"></span>{{ message }}</div>
			{% endif %}
		{% else %}
			<div class="message"><span class="glyphicon glyphicon-info-sign dark"></span>{{ message }}</div>
		{% endif %}
	{% endif %}
{% endmacro %}