{% extends "base.html" %}
{% block content %}
<header class="white-on-bright-blue">
	<div class="wrapper">
		<h1>Testailua</h1>
	</div>
</header>
<section>
	<div class="wrapper">


			<div class="row">
				<div class="card white colspan_12 last">

					<div class="card-header">
						<div class="card-inner-wrapper">	
							...
						</div>
					</div>

					<div class="card-content">
						<div class="card-inner-wrapper">	
							<div class="card-content-half">
								<img src="./assets/img/logo-mex-128.png" alt="" />
								<div class="team-name">MEKSIKO</div>
							</div>

							<div class="card-content-half">
								<img src="./assets/img/logo-ecu-128.png" alt="" />
								<div class="team-name">ECUADOR</div>
							</div>
						</div>
					</div>

					<div class="card-footer">
						<div class="card-inner-wrapper">	
							<div class="card-actions">	
								<div class="button-floating--small red">+</div>
								<div class="button-floating--small green">+</div>
								<div class="button-floating--small blue">+</div>
								<div class="button-floating--small orange">+</div>
								<div class="button-floating--small purple">+</div>
							</div>

							<div class="card-actions">	
								<div class="button-floating--normal red">+</div>
								<div class="button-floating--normal green">+</div>
								<div class="button-floating--normal blue">+</div>
								<div class="button-floating--normal orange">+</div>
								<div class="button-floating--normal purple">+</div>
							</div>

							<div class="card-actions">	
								<div class="button-floating--large red">+</div>
								<div class="button-floating--large green">+</div>
								<div class="button-floating--large blue">+</div>
								<div class="button-floating--large orange">+</div>
								<div class="button-floating--large purple">+</div>
							</div>
							
							<div class="card-actions">	
								<div class="button-raised--x-small red">Button</div>
								<div class="button-raised--x-small green">Button</div>
								<div class="button-raised--x-small blue">Button</div>
								<div class="button-raised--x-small orange">Button</div>
								<div class="button-raised--x-small purple">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button-raised--small red">Button</div>
								<div class="button-raised--small green">Button</div>
								<div class="button-raised--small blue">Button</div>
								<div class="button-raised--small orange">Button</div>
								<div class="button-raised--small purple">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button-raised--normal red">Button</div>
								<div class="button-raised--normal green">Button</div>
								<div class="button-raised--normal blue">Button</div>
								<div class="button-raised--normal orange">Button</div>
								<div class="button-raised--normal purple">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button-raised--large red">Button</div>
								<div class="button-raised--large green">Button</div>
								<div class="button-raised--large blue">Button</div>
								<div class="button-raised--large orange">Button</div>
								<div class="button-raised--large purple">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button--x-small red">Button</div>
								<div class="button--x-small green">Button</div>
								<div class="button--x-small blue">Button</div>
								<div class="button--x-small orange">Button</div>
								<div class="button--x-small purple">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button--small red">Button</div>
								<div class="button--small green">Button</div>
								<div class="button--small blue">Button</div>
								<div class="button--small orange">Button</div>
								<div class="button--small purple">Button</div>

							</div>

							<div class="card-actions">	
								<div class="button--normal red">Button</div>
								<div class="button--normal green">Button</div>
								<div class="button--normal blue">Button</div>
								<div class="button--normal orange">Button</div>
								<div class="button--normal purple">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button--large red">Button</div>
								<div class="button--large green">Button</div>
								<div class="button--large blue">Button</div>
								<div class="button--large orange">Button</div>
								<div class="button--large purple">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button-flat--x-small red-text">Button</div>
								<div class="button-flat--x-small green-text">Button</div>
								<div class="button-flat--x-small blue-text">Button</div>
								<div class="button-flat--x-small orange-text">Button</div>
								<div class="button-flat--x-small purple-text">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button-flat--small red-text">Button</div>
								<div class="button-flat--small green-text">Button</div>
								<div class="button-flat--small blue-text">Button</div>
								<div class="button-flat--small orange-text">Button</div>
								<div class="button-flat--small purple-text">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button-flat--normal red-text">Button</div>
								<div class="button-flat--normal green-text">Button</div>
								<div class="button-flat--normal blue-text">Button</div>
								<div class="button-flat--normal orange-text">Button</div>
								<div class="button-flat--normal purple-text">Button</div>
							</div>

							<div class="card-actions">	
								<div class="button-flat--large red-text">Button</div>
								<div class="button-flat--large green-text">Button</div>
								<div class="button-flat--large blue-text">Button</div>
								<div class="button-flat--large orange-text">Button</div>
								<div class="button-flat--large purple-text">Button</div>
							</div>

							<div class="card-form">
								<label for="test1" class="label-material">textbox-material</label>
								<input id="test1" class="textbox-material" type="text" />
								<div class="validation-material"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>

								<label for="test2" class="label-material">textarea-material</label>
								<textarea id="test2" class="textarea-material" data-autoresize rows="1"></textarea>
								<div class="validation-material"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>


								<div class="clear"></div>
								<div class="clear"></div>
							</div>



							<div class="card-form">
								<label for="test3" class="label-flat">textbox-flat</label>
								<input id="test3" class="textbox-flat" type="text" />
								<div class="validation-flat"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>

								<label for="test4" class="label-flat">textarea-flat</label>
								<textarea id="test4" class="textarea-flat" data-autoresize rows="1"></textarea>
								<div class="validation-flat"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>
							</div>	

							<div class="card-actions">	
								<div class="button--x-small dark">Button</div>
								<div class="button--x-small light">Button</div>
								<div class="button--small dark">Button</div>
								<div class="button--small light">Button</div>
								<div class="button--normal dark">Button</div>
								<div class="button--normal light">Button</div>
								<div class="button--large dark">Button</div>
								<div class="button--large light">Button</div>
							</div>							

						</div>
					</div>

				</div>	
		</div>
	</div>
</section>

<section class="bg-green">
	<div class="wrapper">

		<div class="row">
			<div class="colspan_12 last">
				<div class="card-content">

					<div class="card-form">
						<label for="test5" class="label-material--light">textbox-material--light</label>
						<input id="test5" class="textbox-material--light" type="text" />
						<div class="validation-material--light"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>

						<label for="test6" class="label-material--light">textarea-material--light</label>
						<textarea id="test6" class="textarea-material--light" data-autoresize rows="1"></textarea>
						<div class="validation-material--light"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>
					</div>

					<div class="card-form">
						<label for="test7" class="label-material--dark">textbox-material--dark</label>
						<input id="test7" class="textbox-material--dark" type="text" />
						<div class="validation-material--dark"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>

						<label for="test8" class="label-material--dark">textarea-material--dark</label>
						<textarea id="test8" class="textarea-material--dark" data-autoresize rows="1"></textarea>
						<div class="validation-material--dark"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>
					</div>

					<div class="card-form">
						<label for="test9" class="label-flat--light">textbox-flat--light</label>
						<input id="test9"  class="textbox-flat--light" type="text" />
						<div class="validation-flat--light"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>

						<label for="test11" class="label-flat--light">textarea-flat--light</label>
						<textarea id="test11" class="textarea-flat--light" data-autoresize rows="5"></textarea>
						<div class="validation-flat--light"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>
					</div>

					<div class="card-form">
						<label for="test12" class="label-flat--dark">textbox-flat--dark</label>
						<input id="test12" class="textbox-flat--dark" type="text" />
						<div class="validation-flat--dark"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>

						<label for="test13" class="label-flat--dark">textarea-flat--dark</label>
						<textarea id="test13" class="textarea-flat--dark" data-autoresize rows="5"></textarea>
						<div class="validation-flat--dark"><span class="glyphicon glyphicon-warning-sign"></span> This is an error message</div>
					</div>

					<div class="card-actions">	
						<div class="button--x-small dark">Button</div>
						<div class="button--x-small light">Button</div>
						<div class="button--small dark">Button</div>
						<div class="button--small light">Button</div>
						<div class="button--normal dark">Button</div>
						<div class="button--normal light">Button</div>
						<div class="button--large dark">Button</div>
						<div class="button--large light">Button</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>


<section>
	<div class="wrapper">

			<div class="row">
				<div class="colspan_12 last">
					<div class="card-content">

						<div class="card-form">
							<label class="label-material">Label</label>
							<input class="textbox-material" type="text" />
							<label class="label-material">Label</label>
							<textarea class="textarea-material" data-autoresize rows="1"></textarea>
						</div>

						<div class="card-form">
							<label class="label-flat">Label</label>
							<input class="textbox-flat" type="text" />
							<label class="label-flat">Label</label>
							<textarea class="textarea-flat" data-autoresize rows="5"></textarea>
						</div>

						<div class="card-actions">	
							<div class="button--x-small rounded dark">Button</div>
							<div class="button--x-small light">Button</div>
							<div class="button--small dark">Button</div>
							<div class="button--small light">Button</div>
							<div class="button--normal dark">Button</div>
							<div class="button--normal light">Button</div>
							<div class="button--large dark">Button</div>
							<div class="button--large light">Button</div>
						</div>

					</div>
				</div>
			</div>


	</div>
</section>
{% endblock %}