


/**********************************************************************************************************************
	Misc.
**********************************************************************************************************************/
.break {
	height: 12px;
	clear: both;
}
.clearfix {
	height: 0px;
	clear: both;
}

