	/*
-- 1: Argentina
-- 2: Bolivia
-- 3: Brazil
-- 4: Chile
-- 5: Colombia
-- 6: Ecuador
-- 7: Jamaica
-- 8: Mexico
-- 9: Paraguay
-- 10: Peru
-- 11: Uruguay
-- 12: Venezuela
	*/
.svg-flag-ARG, .svg-flag-BOL, .svg-flag-BRA, .svg-flag-CHI, .svg-flag-COL, .svg-flag-ECU, .svg-flag-JAM, .svg-flag-MEX, .svg-flag-PAR, .svg-flag-PER, .svg-flag-URU, .svg-flag-VEN, .svg-flag-default, .svg-icon-arrow-down-white, .svg-icon-arrow-more-blue, .svg-icon-arrow-more-gray-mask, .svg-icon-arrow-more-white, .svg-icon-arrow-more-white-mask, .svg-icon-arrow-prev-white, .svg-icon-arrow-prev-white-mask, .svg-icon-arrow-up-white, .svg-icon-clock-gray, .svg-icon-close-white, .svg-icon-comment-blue, .svg-icon-comment-white-mask, .svg-icon-download, .svg-icon-facebook, .svg-icon-facebook-blue, .svg-icon-facebook-blue-mask, .svg-icon-facebook-white-mask, .svg-icon-gallery, .svg-icon-gallery-white, .svg-icon-gplus, .svg-icon-gplus-blue, .svg-icon-gplus-blue-mask, .svg-icon-gplus-white-mask, .svg-icon-hamburger, .svg-icon-instagram, .svg-icon-logout-blue-mask, .svg-icon-logout-bluedark-mask, .svg-icon-minus-blue, .svg-icon-minus-white, .svg-icon-play, .svg-icon-plus-white, .svg-icon-share, .svg-icon-twitter, .svg-icon-twitter-blue, .svg-icon-twitter-blue-mask, .svg-icon-twitter-white-mask, .svg-icon-user-blue, .svg-icon-user-blue-mask, .svg-icon-user-white, .svg-logo-ca2015, .svg-logo-goal, .svg-shopping-cart, .svg-sponsor-mastercard, .svg-sponsor-santander, .svg-we-are-wm {
	background-image: url('http://www.ca2015.com/img/sprites.svg');
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	width: 100%;
	text-indent: -9999px;
	text-align: left;
	font-size: .5rem;
	line-height: .5rem;
	color: rgba(255,255,255,0);
}
.svg-flag-CHI {
  background-position: 50% 8.15796307%;
  background-size: 120%;
  display: block;
}