/**********************************************************************************************************************
	Navigation (Tämän hoitaa bootstrap-fix.css)
**********************************************************************************************************************/
/*
nav {
	background-color: rgba(33, 33, 33, 1.0);
	padding: 24px 0px 24px 0px;
	border-bottom: 1px solid rgba(33, 33, 33, 0.3);
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;

}
nav a {
	font-family: "open sans", "arial", "helvetica", "sans-serif";
	font-weight: 700;
	font-size: 1.5em;
	color: rgba(0, 0 , 0, 0.3);
	text-decoration: none;
	padding: 12px 24px 14px 24px;
}
nav a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(255, 255 , 255, 0.9);
}
nav ul li {
	display: inline;
}
*/