/**********************************************************************************************************************
	Basic HTML blocks
**********************************************************************************************************************/
html, body {
	padding: 0;
	margin: 0;
	background-color: rgb(245, 245, 245);
	width: 100%;
    height: 100%;
}
header {
	color: rgba(255, 255, 255, 1.0);
	padding: 24px 0px 48px 0px;
}
section {
	
}
footer {
	background-color: rgba(33, 33, 33, 1.0);
}
/**********************************************************************************************************************
	---
**********************************************************************************************************************/
.container {
	display: block;
	margin: auto;
	max-width: 1200px;
}
.wrapper {	
	margin: auto;
	max-width: 1200px;
	padding: 24px 0px 64px 0px;
	height: 100%;
}
header > .wrapper {	
	margin: auto;
	max-width: 1200px;
	padding: 0px;
	height: 100%;
}
section > .wrapper {	
	margin: auto;
	max-width: 1200px;
	padding: 48px 0px 48px 0px;
	height: 100%;
}

/**********************************************************************************************************************
	---
**********************************************************************************************************************/
.column {
	margin: 0;
	padding: 0;
}
.row {
	padding: 0px 0px 24px 0px;
	width: 100%; 
	height: 100%;
	clear: both;
}
/**********************************************************************************************************************
	Colspan selectors (1200px)
**********************************************************************************************************************/
.colspan_1, 
.colspan_2, 
.colspan_3, 
.colspan_4, 
.colspan_5, 
.colspan_6, 
.colspan_7, 
.colspan_8, 
.colspan_9, 
.colspan_10, 
.colspan_11, 
.colspan_12 {
	float: left;
	margin-right: 12px;
}
.colspan_1 {
	width: 89px;
}
.colspan_2 {
	width: 190px;
}
.colspan_3 {
	width: 291px;
}
.colspan_4 {
	width: 392px;
}
.colspan_5 {
	width: 493px;
}
.colspan_6 {
	width: 594px;
}
.colspan_7 {
	width: 695px;
}
.colspan_8 {
	width: 796px;
}
.colspan_9 {
	width: 897px;
}
.colspan_10 {
	width: 998px;
}
.colspan_11 {
	width: 1099px;
}
.colspan_12 {
	width: 1200px;
}
.last {
	margin-right: 0px;
}
/**********************************************************************************************************************
	Rowspan selectors
**********************************************************************************************************************/
.rowspan_1 {
	height: 89px;
}
.rowspan_2 {
	height: 190px;
}
.rowspan_3 {
	height: 291px;
}
.rowspan_4 {
	height: 392px;
}
.rowspan_5 {
	height: 493px;
}
.rowspan_6 {
	height: 594px;
}
.rowspan_7 {
	height: 695px;
}
.rowspan_8 {
	height: 796px;
}
.rowspan_9 {
	height: 897px;
}
.rowspan_10 {
	height: 998px;
}
.rowspan_11 {
	height: 1099px;
}
.rowspan_12 {
	height: 1200px;
}
/**********************************************************************************************************************
	Typography
**********************************************************************************************************************/
h1, h2, h3, h4, h5, h6, p {
	font-family: "open sans", "arial", "helvetica", "sans-serif";
	padding: 0;
	margin: 0;
}
h1 { 
	font-size: 6em;
	font-weight: 600;
}
h2 { 
	font-size: 2.4em;
}
h3 { 
	font-size: 2.0em;
}
h4 { 
	font-size: 1.6em;
}
h5 { 
	font-size: 1.2em;
}
h6 { 
	font-size: 1.0em;
}
p  { 
	font-size: 1em;
}
a {
	color: rgb(255, 255, 255);
	font-weight: 700;
}
a:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.emphasis {
	font-weight: 700;
}



::-webkit-input-placeholder {
	color: rgba(255,255,255,1);
}
:-moz-placeholder {
   color: rgba(255,255,255,1);
   opacity:  1;
}
::-moz-placeholder {
   color: rgba(255,255,255,1);
   opacity:  1;
}
:-ms-input-placeholder {
   color: rgba(255,255,255,1);
}


input:focus, textarea:focus {
	outline: none;
}



.landing-page-title {
	float: left;
	font-family: "open sans", "arial", "helvetica", "sans serif";
	font-size: 8em;
	font-weight: 700;
	padding-top:  128px; 
	color: rgb(255, 255, 255);
}
.landing-page-subtitle {
	float: left;
	font-family: "open sans", "arial", "helvetica", "sans serif";
	font-size: 3.5em;
	font-weight: 100;
	color: rgb(255, 255, 255);
	padding-bottom: 24px;
}
.landing-page-logo {
	float: left;
	width: 64px;
	height: 64px;
	margin: 0px 24px 0px 24px;
}
.landing-page-login {
}

