{% extends "base.html" %}
{% block content %}
<div class="clear_96"></div>
        <div class="container anim-delay_025">
			<div class="clear_24"></div>
        	<div class="clear"></div>
	        <div class="row">
	            <div class="module page-title colspan_12">
	                <div class="wrapper">
	                    Bet Edit
	                </div>
	            </div>
	        </div>
        	<div class="clear_48"></div>
	        <div class="row">
	            <div class="module colspan_12 last">
	                 <form action="" method="" >          
	                    <div class="single-match">
							<div class="clear_48"></div>                             	                           
		                            <div class='match'>
		                            	<div class='teams'>      
		                            		<div class='home-team colspan_3'>
			                                    <a href='' target='' >Chile</a>
			                            		<img src='./assets/img/logo-mex-128.png' alt='' />
											</div>
											<div class='scores colspan_2'>
												<input id='homescore' type='text' lass='' value='3' required/>
												<label class='score-divider'> &ndash; </label>
												<input id='awayscore' type='text' class='' value='0' required/>
											</div>
		                             		<div class='away-team colspan_3 last'>
				                                <img src='./assets/img/logo-ecu-128.png' alt='' />
												<a href='' target=''>Ecuador</a> 
											</div>
										</div>
								<div class='clear_48'></div>
		                    </div>
	                    </div>
	                    <div class="colspan_2 last">
	                    	<input type="submit" class="large-button green" value="Enter this bet" >
                    	</div>
                	</form>
            </div>
        </div>      
		<div class="clear_96"></div>
        </div>
		<div class="clear_96"></div>
{% endblock %}