<table class="table">
	<thead>
		<tr>
		<td>Nimi</td>
		<td>Jäseniä</td>
		<td>Yksityinen</td>
		<td>Perustettu</td>
		<td></td>
		</tr>
	</thead>
	<tbody>
		{% for community in communities %}
		{% set members = community.members %}
		<tr>
			<td><a href="{{ base_path }}/community/{{ community.id }}"><span class="round-icon glyphicon glyphicon-link"></span>  {{ community.name }}</a></td>
			<td>{{ members|length }}</td>
			<td>
				{% if community.is_private %}
					Kyllä
				{% else %}
					Ei
				{% endif %}	
			</td>
			<td>{{ community.created_on|date("F j, Y H:i") }}</td>
			<td>
				{% if user_logged_in.is_member_in(community) %}
					{% set membership = user_logged_in.membership(community) %}
					{{ 
						forms.delete_button({ 
							'class': 'button-flat--x-small orange-on-transparent', 
							'href': 'membership', 
							'name': 'community_id', 
							'id': community.id, 
							'value': 'Eroa' }) 
					}}	
					{% if membership.is_admin %}
						{{ 
							forms.delete_button({ 
								'class': 'button-flat--x-small red-on-transparent', 
								'href': 'community', 
								'name': 'id', 
								'id': community.id, 
								'value': 'Poista' 
							}) 
						}}	
					{% endif %}
				{% else %}
					{{ 
						forms.submit_button({ 
							'class': 'button-flat--x-small blue-on-transparent', 
							'href': 'membership', 
							'name': 'community_id', 
							'id': community.id, 
							'value': 'Liity' 
						}) 
					}}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>