{% extends "base.html" %}
{% block content %}
<header class="white-on-bright-blue">
	<div class="wrapper">
		<h1>{{ community.name }}</h1>
	</div>
</header>
<section>
	<div class="wrapper">
		<div class="colspan_12 last">
			<div class="row">
				<div class="module colspan_12 last">
					<div class="intro-text">{{ community.description }}</div>
				</div>
			</div>
			<div class="row">
				<div class="button-wrapper">
					{{ 
						forms.link_button({ 
							'class': 'button-raised--normal white-on-orange fix-alignment-for-link-button', 
							'href': 'community/edit/' ~ community.id, 
							'value': 'Muokkaa yhteisöä' 
						}) 
					}}
				</div>
				<div class="button-wrapper">
					{{ 
						forms.delete_button({ 
							'class': 'button-raised--normal white-on-red', 
							'href': 'membership', 
							'name': 'community_id', 
							'id': community.id, 
							'value': 'Eroa yhteisöstä' 
						}) 
					}}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}