<!--
Ottelun muokkaus näkymä, josta luodaan mm. ottelun maalit

 - 
 - Kotijoukkueen valinta (input / drop-down)
 - Vierasjoukkueen valinta (input / drop-down)
 - Päivämäärän valinta (calendar)
 - Stadionin valinta (grid selection / drop-down)
 - Ottelun tulos (increase / decrease buttons)
 - Maalin tekijän lisäys (action button)
 

Oikeudet: 
Admin


VAATIMUKSET:

1. VAIN OTTELUN TULOSTA TAI STADIONIA VOIDAAN PÄIVITTÄÄ JOS PÄIVÄMÄÄRÄ ON MENNYT.
2. OTTELUUN EI VOI LIITYÄ MAALEJA ENNEN KUIN OTTELU ON PELATTU.
3. OTTELUN JOUKKUEITA VOIDAAN PÄIVITTÄÄ VAIN JOS OTTELU EI OLE ALKANUT JA SIIHEN EI LIITY VEIKKAUKSIA.
4. OTTELU VOIDAAN MYÖS POISTAA JOS SIIHEN EI LIITY VEIKKAUKSIA EIKÄ SE EI OLE ALKANUT.

-->