{% extends "base.html" %}
{% block content %}
<section>
	<div class="wrapper">
		<div class="colspan_12">
			{% for match in matches %}
			<div class="row">
				<div class="card colspan_12 rowspan_5 last">		
					
					<div class="card-header">
						<div class="header-icon">
							
						</div>
						<div><b>GROUP A | {{ match.kickoff }}</b></div>
						<div>{{ match.stadium }}</div>
						<div>{{ match.city }}</div>
					</div>

					
					<div class="card-content">
						<div class="navigator"></div>
						<div class="left">
							<img src="./assets/img/logo-{{ match.hometeamcode|lower }}-128.png" alt="" />
							<span class="text">{{ match.hometeamname }}</span>
						</div>
						
						
						<div class="right">
							<img src="./assets/img/logo-{{ match.awayteamcode|lower }}-128.png" alt="" />
							<span class="text">{{ match.awayteamname }}</span>
						</div>
						<div class="navigator"></div>

						<div class="center">
							<div class="status">
								<!-- if match is upcoming -->
									<!-- Upcoming -->
								<!-- elsif ongoing -->
									<!-- Waiting for result -->
								<!-- else -->
									Final result
							</div>
							<div class="big-score">
								<!-- if match is upcoming or ongoing -->
									<!-- v -->
								<!-- else -->
									2 : 0
							</div>
							<div class="user-score">
								<!-- if user has bets -->
									YOU EARNED
								<!-- else -->
									<!-- No bets -->
							</div>
							<div class="points-rewarded">
								<!-- if winner and score were correct -->
									+ 9 pts
								<!-- else if winner was correct -->
									<!-- +3pts -->
								<!-- else -->
									<!-- No points gained -->
							</div>
							<div class="action">
								<!-- if match is upcoming and user has bet -->
									<!-- <button>Edit</button> -->
								<!-- elsif upcoming -->
									<!-- <button>Bet</button> -->
							</div>
						</div>			
					</div>
				</div>

			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}