<form method="post" action="{{base_path}}/login">

	{% set theme = 'flat--dark' %}

	<div class="row">
		{{ forms.textbox_with_label_and_errors({ 'for': 'username', 'theme': theme, 'label_text': 'Käyttäjänimi', 'error_text': errors.username }) }}
	</div>

	<div class="row">
		{{ forms.textbox_with_label_and_errors({ 'for': 'password', 'type': 'password','theme': theme, 'label_text': 'Salasana', 'error_text': errors.password }) }}
	</div>

	<div class="row">
		{{ forms.submit({ 'class': 'button-raised orange', 'value': 'Kirjaudu' }) }}
	</div>

	<div class="clear"></div>

	<div class="row">
		Eikö sinulla ole tunnuksia? <a href="{{ base_path }}/registration">Klikkaa tästä</a> ja rekisteröidy
	</div>

</form>
