
<div class="card white">

	

	{% set stats = user.stats  %}

		<div class="card-header bg-blue flat-header">
			<div class="flat-header-icon"><span class="glyphicon glyphicon-user white-text"></span></div>
			<div class="flat-header-title white-text">{{ user.firstname }} {{ user.lastname }}</div> 
			<div class="flat-header-subtitle white-text">{{ user.username }}<br>Kirjautunut: klo {{ user.last_login|date("H:i") }}</div> 
		</div>

		<div class="profile-card--content">
			<div class="row">
				<div class="primary-stats">
					<div class="stat-title">SIJOITUS</div>
					<div class="stat-title">PISTEITÄ</div>
					<div id="user--ranking" class="stat-value--primary">{{ stats.ranking }}</div>
					<div id="user--points" class="stat-value--primary">{{ stats.points }}</div>
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div class="stat-title">VEIKKAUKSIA</div>
					<div class="stat-value--secondary">{{ stats.bets }}</div>
				</div>
				<div class="row">
					<div class="stat-title">ONNISTUNEITA</div>
					<div class="stat-value--secondary">{{ stats.correct }}</div>
				</div>
				<div class="row">
					<div class="stat-title">ONNISTUMISPROSENTTI</div>
					<div class="stat-value--secondary">{{ stats.percentage }} %</div>
				</div>
			</div>
		</div>

</div>
