{% extends "landing.html" %}
{% block content %}
<section class="white-on-green">
	<div class="wrapper">
			
			<div class="row">

				<div class="module colspan_12 last">
					<h1 class="landing-page-subtitle">Registration</h1>
				</div>
				<div class="clear"></div>
				<div class="clearfix"></div>

			</div>

			<div class="row">
				<div class="module colspan_6 last">

					<form method="post" action="{{base_path}}/registration">
						<!-- Username -->
						<label for="username">Username</label>
						<input type="text" name="username" placeholder="Username" class="white-on-darker">
						<!-- Firstname -->
						<label for="firstname">Firstname</label>
						<input type="text" name="firstname" placeholder="Firstname" class="white-on-darker">
						<!-- Lastname -->
						<label for="lastname">Lastname</label>
						<input type="text" name="lastname" placeholder="Lastname" class="white-on-darker">	
						<!-- Email -->
						<label for="email">Email</label>
						<input type="text" name="email" placeholder="Email" class="white-on-darker">
						<!-- Password -->
						<label for="password">Password</label>
						<input type="password" name="password" placeholder="Password" class="white-on-darker">
						<!-- Password Confirmation -->
						<label for="password_confirmation">Confirm password</label>
						<input type="password" name="password_confirmation" placeholder="Confirm password" class="white-on-darker">

						<input type="submit" value="Register" class="horizontal-align-left white-on-darker">
					</form>
					
				</div>
		</div>	
		<div class="clearfix"></div>
	</div>
</section>
{% endblock %}