{% extends "base.html" %}
{% block content %}
<section>
	<div class="wrapper">
		
		<div class="row">

			<div class="card group-standings-card colspan_12">

				<div class="group-standings-card--header">
					<div>Group A</div>
				</div>

				<div class="group-standigs-card--content">
					<table class="group-standings-table">
						<thead>
							<tr>
								<td></td>
								<td></td>
								<td>GP</td>
								<td>W</td>
								<td>D</td>
								<td>L</td>
								<td>GF</td>
								<td>GA</td>
								<td>PTS</td>
							</tr>
						</thead>
						<tbody>
						{% for team in teams %}
							<tr>
								<td id="logo"><img class="team-logo" src="{{ base_path}}/assets/img/logo-{{ team.code|lower }}-128.png" alt="" /></td>
								<td id="name">{{ team.name }}</td>
								<td id="played">{{ team.matches|length }}</td>
								<td id="wins">{{ team.wins|length }}</td>
								<td id="draws">{{ team.draws|length }}</td>
								<td id="losses">{{ team.losses|length }}</td>
								<td id="scored">{{ team.scored|length }}</td>
								<td id="conceded">{{ team.conceded|length }}</td>
								<td id="points">{{ team.points }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				
			</div>

		</div>

	</div>
</section>
{% endblock %}
