{% extends "base.html" %}
{% block content %}
<header class="white-on-bright-blue">
	<div class="wrapper">

		<h1>Yhteisöt</h1>

	</div>
</header>
<section>
	<div class="wrapper">
		<div class="colspan_12 last">
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<td>Name</td>
							<td>Members</td>
							<td>Created On</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for community in communities %}
						<tr>
							<td><a href="{{ base_path }}/community/{{ community.id }}">{{ community.name }}</a></td>
							<td>{{ community.members|length }}</td>
							<td>{{ community.created_on }}</td>
							<td>
								<form method="post" action="{{base_path}}/community">
									<input type="hidden" name="id" value="{{ community.id }}"/>
									<input type="hidden" name="_METHOD" value="DELETE"/>
									<input type="submit" value="Poista" class="btn btn-danger btn-sm">
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div>
					<a href="{{ base_path }}/communities/new" class="btn btn-primary">Luo uusi yhteisö</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}