{% extends "base.html" %}
{% block content %}
<header class="white-on-bright-blue">
	<div class="wrapper">

		<h1>Yhteisöt</h1>

	</div>
</header>
<section>
	<div class="wrapper">
		<div class="colspan_12 last">
			<div class="row">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<td>Name</td>
							<td>Created On</td>
						</tr>
					</thead>
					<tbody>
						{% for community in communities %}
						<tr>
							<td><a href="{{ base_path }}/community/{{ community.id }}">{{ community.name }}</a></td>
							<td>{{ community.created_on }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div>
					<a href="{{ base_path }}/communities/new" class="btn btn-primary">Luo uusi yhteisö</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}