{% extends "base.html" %}
{% block content %}
<header class="white-on-bright-blue">
	<div class="wrapper">

		<h1>{{ community.name }}</h1>

	</div>
</header>
<section>
	<div class="wrapper">
		<div class="colspan_12 last">
			<div class="row">
				<p>{{ community.description }}</p>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<td>Firstname</td>
							<td>Lastname</td>
						</tr>
					</thead>
					<tbody>
						{% for member in community.members %}
						<tr>
							<td>{{ member.firstname }}</a></td>
							<td>{{ member.lastname }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock %}