{% extends "base.html" %}
{% block content %}
<div class="clear_96"></div>	
	    <div class="container home anim-delay_025">
			<div class='row'>
				<div class="module anim-delay_050 colspan_12 last page-title">
					<div class="wrapper">
						Home
					</div>
				</div>
			</div>	
	        <div class="clear"></div>
	        <div class="row">
	            <div class="module anim-delay_050 colspan_8 next-match">       
					<div class="title green">
						<div class="wrapper">
							Next Match:
						</div>
					</div>
					<div class="teams">
						<div class="wrapper">
							<div class="clear_24"></div>
							Chile
							<img src='./assets/img/logo-chi-128.png' alt=''/>
							&ndash; 
							<img src='./assets/img/logo-ecu-128.png' alt=''/>
							Ecuador
						</div>
					</div>
					<div class="date-and-stadium">
						<div class="wrapper">
							Group Stage
							<br/>
							June 11, 2015
							<br/>
							Estadio Nacional Julio Martínez Prádanos, Santiago de Chile
						</div>
					</div>
					<div class="clear"></div>		
				</div>
				
				 <div class="module colspan_4 last">
					<div class="title blue">
						<div class="wrapper">
							Registered Users
						</div>
					</div>
					<div class='users'>
						<div class='wrapper'>
							<a href=''>Username</a>
						</div>
					</div>
					<div class='users'>
						<div class='wrapper'>
							<a href=''>Username</a>
						</div>
					</div>
					<div class='users'>
						<div class='wrapper'>
							<a href=''>Username</a>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="clear_96"></div>
    	</div>
		<div class="clear_96"></div>

{% endblock %}
