{% extends "base.html" %}
{% block content %}
<section>
	<div class="wrapper">

		<div class="colspan_12 last">
			<div class="row">
				<div class="card white">	
					<div class="match-carousel">
						{% for match in matches %}
							<div class="colspan_12 last">
								{% include "_hero_module.html" %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="colspan_12 last">
			<div class="row">

				<div class="colspan_8">
					<div class="card white">
						<div class="group-standings-carousel">
							{% for group in groups %}	
								<div class="owl-carousel-wrapper">
									{% include "_group_standings.html" %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="colspan_4 last">
					{% set user = user_logged_in %}
					{% include "user/_stats.html" %}
				</div>

			</div>
		</div>

	</div>
</section>
{% endblock %}
